<div class="drawer-side">
  <label htmlFor="left-sidebar-drawer" class="drawer-overlay"></label>
  <ul class="menu pt-2 w-80 bg-base-100 text-base-content">
    <button
      class="btn btn-ghost bg-base-300 btn-circle z-50 top-0 right-0 mt-4 mr-2 absolute lg:hidden"
    >
      X
    </button>
    <li className="mb-2 font-semibold text-xl">
      <div>
        <img
          class="mask mask-squircle w-10"
          src="/logo192.png"
          alt="DashWind Logo"
        />DashWind
      </div>
    </li>
  </ul>
</div>
