<div class="overflow-x-auto">
  <shared-btn class="float-left">Agregar Animal</shared-btn>
  <div class="card flex-auto w-1">
    <table class="w-full shadow-lg">
      <thead>
        <tr>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider"
          >
            Nombre
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Edad
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Cumpleaños
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Genero
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Exhibido
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Ingreso
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Salud
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Estado de Vida
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Registro
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Modificación
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          ></th>
          <!-- Agrega más cabeceras aquí si es necesario -->
        </tr>
      </thead>
      <tbody>
        <tr class="hover bg-white" *ngFor="let animal of animals()">
          <td class="px-6 py-4 whitespace-nowrap text-black">
            {{ animal.name }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-black">
            {{ animal.age }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-black">
            {{ animal.birth }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-black">
            {{ animal.gender }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-black">
            {{ animal.exhibit_status }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-black">
            {{ animal.arrival }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-black">
            {{ animal.health_condition }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-black">
            {{ animal.is_alive }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-black">
            {{ animal.created_at }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-black">
            {{ animal.updated_at }}
          </td>
          <td>
            <div class="dropdown dropdown-bottom">
              <label tabindex="0" class="btn btn-square m-1"
                ><fa-icon [icon]="faEllipsis()"></fa-icon
              ></label>
              <ul
                tabindex="0"
                class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
              >
                <li>
                  <a> <fa-icon [icon]="faPencil()"></fa-icon>Editar</a>
                </li>
                <li>
                  <a><fa-icon [icon]="faSkull()"></fa-icon>Dar de Baja</a>
                </li>
              </ul>
            </div>
          </td>

          <!-- Agrega más datos aquí si es necesario -->
        </tr>
        <!-- Agrega más filas de datos aquí si es necesario -->
      </tbody>
    </table>
  </div>
</div>
